<h1 class="py-3">Ingrese su post</h1>
<form class="form" method="get" action="posts/create" class="py-5">
    Titulo:<input name="titulo" class="form-control">
    Url Imagen:<input name="url_img" class="form-control">
    Contenido:<textarea name="contenido" class="form-control"></textarea>
    <input type="submit" value="Enviar">
</form>

<h2 class="py-5">Listado de posts</h2>
<table>
    <tr>
        <th>titulo</th>
        <th>imagen</th>
        <th>contenido</th>
        <th>creación</th>
    </tr>

<% @posts.each do |post| %>
    <tr>
        <td><%=post.title%></td>
        <td><%= image_tag post.image_url %></td>
        <td><%=post.content%></td>
        <td><%=post.created_at%></td>
    </tr>
<% end %>
</table>

