<h1>Posts y Formulario</h1>
<h2>Ingrese su post</h2>
<form class="form" method="get" action="posts/create">
    Titulo:<input name="titulo">
    Url Imagen:<input name="url_img">
    Contenido:<textarea name="contenido"></textarea>
    <input type="submit" value="Enviar">
</form>