<h1 class="my-4">Ingrese su post</h1>
<form class="form" method="get" action="posts/create" class="py-5" id="create_posts">
    Título:<input name="titulo" class="form-control my-1">
    Url Imagen:<input name="url_img" class="form-control my-1">
    Contenido:<textarea name="contenido" class="form-control my-1"></textarea>
    <input type="submit" value="Enviar" class=" btn btn-dark my-3">
</form>

<h2 class="my-4">Listado de posts</h2>
<table class="table">
    <tr>
        <th>Título</th>
        <th>Imagen</th>
        <th>Contenido</th>
        <th>Fecha Creación</th>
    </tr>

<% @posts.each do |post| %>
    <tr>
        <td><%=post.title%></td>
        <td><%= image_tag post.image_url %></td>
        <td><%=post.content%></td>
        <td><%=post.created_at%></td>
    </tr>
<% end %>
</table>

